body {
    background-color: #222;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}

/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-out;
}

h1 {
    color: black;
    font-weight: bold;
    text-align: center;

}
h2 {
    position: absolute;
    color: black;
    font-weight: bold;
    font-family: "Malgun Gothic";
    background: white;
    left: 85%;
    margin-top: -75px;
    margin-right: 25px;
    font-size: medium;
    border: solid black;
    border-radius: 1px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

ul {
    position: absolute;
    font-weight: bold;
    list-style-type: none;
    left: 0;
    top: -20px;
    color: black;
    background: white;
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 35px rgba(0,0,0,3);
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
}
a:active {
    text-decoration: underline;
    color: black;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 250px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(158, 82%, 57%), hsl(252, 82%, 57%));    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}