

body {
    background-color: #112;
}
:root {
    --main-bg-color: #223
}

h2 {
    position: absolute;
    color: darkred;
    font-weight: bold;
    background: #223;
    left: 4.5%;
    top: 24.5%;
    font-size: 20px;
}


ul {
    position: absolute;
    font-weight: bold;
    list-style-type: circle;
    left: 6%;
    top: 8%;
    color: darkred;
    font-size: 125%;
    background: var(--main-bg-color);
    margin: auto;
    padding: 10px;
    border-radius: 5px;

}
.wrapper {
    margin:0 auto;
    overflow: hidden;
    position: relative;
}

.title {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 1%;
    left: 3%;
    box-shadow: 0 20px 35px rgba(0,0,0,3);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--main-bg-color);
    background-image: conic-gradient(#213,
    #112 50%,
    #213);

}
.title:before {
    content: "";
    background-image: conic-gradient(transparent 20%, #08f, #f03);
    height: 200%;
    width: 200%;
    position: absolute;
    left: -50%;
    top: -50%;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.title:after {
    content: "xtrastyle.html";
    height: 96%;
    width: 96%;
    position: absolute;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    top: 2%;
    left: 2%;
    color: darkred;
    font-weight: bold;
    display: grid;
    place-items: start;
    text-decoration: underline darkred;
    text-decoration-thickness: 4px;
    box-shadow: 0 20px 35px rgba(0,0,0,3);
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rev {
    100%{
        transform: rotate(-360deg);
    }
}
/*
.triangleUP {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid red;
    left: 91%;
    top: 2%;
    animation-name: rev;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.triangleRIGHT {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 25px solid red;
    border-bottom: 15px solid transparent;
    left: 92%;
    top: 3%;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.triangleDOWN {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid red;
    left: 91%;
    top: 4.5%;
    animation-name: rev;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.triangleLEFT {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 25px solid red;
    border-bottom: 15px solid transparent;
    left: 90.5%;
    top: 3%;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
*/


a:link {
    text-decoration: none;
    color: darkred;
}
a:visited {
    text-decoration: none;
    color: darkred;
}
a:hover {
    text-decoration: underline;
    color: darkred;
}
a:active {
    text-decoration: underline;
    color: darkred;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}